<div class="assign-tasks-container">
    <h2>Assign Tasks to Users</h2>
    <div class="p-grid">
        <div class="p-col-12 p-md-6">
            <h3>Select Tasks</h3>
            <p-listbox [options]="tasks" [(ngModel)]="selectedTasks" optionLabel="title" multiple="true"></p-listbox>
        </div>
        <div class="p-col-12 p-md-6">
            <h3>Select Users</h3>
            <p-listbox [options]="users" [(ngModel)]="selectedUsers" optionLabel="username" multiple="true"></p-listbox>
        </div>
    </div>
    <button pButton label="Assign Tasks" (click)="assignTasks()"></button>
</div>